body {
	font-family: Arial, Helvetica,  sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding: 5;
	margin: 5;
	background-color: #e1e1e1;
	}

/* Global */
.container{
		width: 90%;
		margin:auto;
		overflow:hidden;
}
ul {
		padding:0;
		margin:0;
}f

.button_1 {
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

/* Header **/
header {
	background: #fc1505;
	color:#ffffff;
	padding-top:30px;
	padding-left: 10px;
	min-height:70px;
	border-bottom:#660202 
	5px solid;
}

header .highlight, header .current a{
	color:#660202;
	font-weight: bold;
}

header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header ul{
	margin:0;
	padding: 0;
}

header li {
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top: 10px;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/*showcase */
#showcase{
	min-height:200px;
	background:url('../img/zero_smaller.jpg') no-repeat;
	background-position:center;
	text-align:center;
	color:660202;
	max-height:400px;
}

#showcase h1{
	margin-top:75px;
	font-size: 55px;
	margin-bottom:10px;
}

#showcase p{
	font-size:25px;
	padding:40px;
}

#newsletter{
	padding:5px;
	color:#ffffff;
	background:#fc1505;
}

#newsletter h1{
	float:left;
	margin-top: 5px;
}

#newsletter form{
	float:right;
	margin-top:2px;
	
}

#newsletter input{
	padding:2px;
	height:15px;
	width:250px;
}
/*siteguide */
#siteguide {
	min-height:200px;
	background:url(http://imgur.com/x9koynk) no-repeat;
	background-position:center;
	text-align:center;
	color:#ffffff;
	max-height:300px;
	padding-bottom: 2px;
}
#siteguide h1{
	margin-top:1750;
	font-size: 55px;
	margin-bottom: 0px;
}

#siteguide p{
	font-size:20px;
	padding:0px;
}

/*boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:28%;
	padding:1%;
}

#boxes .box img{
	width: 97%;
}

footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#040056;
	text-align:center;
}

.main {
	background-color:#e5e4d7;
	margin-left:10px;
	margin-right:320px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 10px;
	font-size: 110%;
}

.sideright {
	background-color: #040056;
	font-size:105%;
	padding: 20px;
	width: 260px;
	float: right;
	border-radius: 5px;
	margin-left:10px; margin-right:10px;
	margin-top:10px; margin-bottom:10px;
}

.sideright a {
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.sideright li {
	list-style: none;

}


	
.current a{
	color:#ffe30f;
	font-weight: bold;
}

.main h2 {
	font-size: 120%;
	color: #ff630a;
}

.element {
	text-shadow:
		-1px -1px 0 #ffffff,
		1px -1px 0 #ffffff,
		-1px 1px 0 #ffffff,
		1px 1px 0 #ffffff;
}
